In [ ]:
#set union , intersection, difference
# | ---> union
# & ---> intersection
# - ---> difference

In [9]:
A={1,2,3,4,4}
B={4,7,8,9}
#print(A|B)
#print(A.union(B))
#print(A&B)
#print(A.intersection(B))
print(B-A)
print(A.difference(B))

{8, 9, 7}
{1, 2, 3}

In [12]:
#leap year
year=int(input("Enter a year: "))
if (year % 400==0) & (year % 100==0):
  print(year, " is a leap year")
elif (year % 4==0) & (year % 100!=0):
  print(year," is  leap year")
else:
  print(year," is not a leap year")

Enter a year: 2001
2001  is not a leap year

In [22]:
n=int(input("enter a num"))
for i in range(1,n+1):
  if n%i==0:
    print(i)

enter a num25
1
5
25

In [24]:
n=int(input("enter a num"))
for i in range(1,11):
  print(n*i)

enter a num2
2
4
6
8
10
12
14
16
18
20

In [25]:
import calendar

In [27]:
year=int(input('Enter a year: '))
month=int(input('Enter a month: '))
cal=calendar.month(year,month)
print(cal)

Enter a year: 2022
Enter a month: 5
      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [75]:
a=9.8
b=7
c="zainab"
#print(f"my name is %s" %(c))
print("My name is %s and my age is %d and floating value is %.3f" %(c,b,a) )
print("My name is {} and her age is {}".format(c,b))

My name is zainab and my age is 7 and floating value is 9.800
My name is zainab and her age is 7

In [36]:
name1='zainab'
name2='jannat'
store_name="My name is {} and her name is {}".format(name1,name2)
print(store_name)

My name is zainab and her name is jannat

In [41]:
friend="I have many friends but my best friends are {0},{1} and {2}".format('alisba','fiza','sana')
print(friend)

I have many friends but my best friends are alisba,fiza and sana